{% extends 'base.html.twig' %}

{% block title %}Login page{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Logout</a>
        </div>
    {% endif %}

    {{ form_start(loginForm) }}
        {{ form_widget(loginForm) }}
        <button class="border border-2 border-black m-3 p-3" type="submit">Log in</button>
    {{ form_end(loginForm) }}
    
{% endblock %}