<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}Title{% endblock %}
        </title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}" defer></script>
        {% endblock %}
    </head>

    <body>
        <div class="container p-3">

            <a class="m-3 p-1 text-xl border border-black rounded" href="{{ path('app_home') }}">Home</a>
            
            {% if app.user %}
                <p>Logged as {{ app.user.username }}</p>

                <a class="m-3 p-1 bg-gray-100 hover:bg-gray-200 text-xl border border-black rounded">Logout</a>
            {% else %}
                <a class="m-3 p-1 text-xl border border-black rounded" href="{{ path('app_login') }}">Login</a>

                <a class="m-3 p-1 text-xl border border-black rounded" href="{{ path('app_register') }}">Register</a>
            {% endif %}

            {% block body %}{% endblock %}
        </div>
    </body>
</html>
